<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Ash On The Internet</title>
    </head>

    <body>
        <h1> Ash's Blog </h1>

        <div>
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories to present.</strong>
            {% endif %}
        </div>

        <div>
            <a href="/about/">About</a><br />
        </div>
    </body>

</html>