<!DOCTYPE html>
{% load staticfiles %}
  <html>
    <head>
      <title>About Me (Ash)</title>
    </head>
    <body>
      <p> Hello! My name is Ash and welcome to my small section of the internet! <br>
        <br>
        I'm an undergraduate computer science student, a math tutor , the owner of the
        internet advertising business <a href="https://apd-digital.com/">APD Digital</a>, and
        a cyber security enthusiast.<br>
        <br>
        I started this blog to document the different things I learn whilst on my
        life's journey.<br>
        <br>
      </p>
      <p> I will add a way to contact me soon!</p>
    </body>
  </html>